body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}

header, footer {
  background-color: #e0e0e0;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: blue;
}

h2 {
  text-align: center;
}

.student-id {
  float: right;
}

table ,th, td {
    margin: auto;
    text-decoration: none;
    
    border: 1px solid #cccc;
}

#TimeTable:hover, #CandQ:hover, #GPhoto:hover, #FunFacts:hover {
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(136, 136, 136, 0.1);
    transform: scale(1.03);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-areas:
    "TimeTable CandQ"
    "GPhoto GPhoto"
    "FunFacts FunFacts";
  gap: 2em;
}

#TimeTable {
  grid-area: TimeTable;
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 1em;
  padding: 1em;
  text-align: left;
  box-shadow: 0 6px 12px #aaa;
}

#CandQ {
  grid-area: CandQ;
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 1em;
  padding: 1em;
  text-align: left;
  box-shadow: 0 6px 12px #aaa;
}

#GPhoto {
  grid-area: GPhoto;
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 1em;
  padding: 1em;
  text-align: center;
  box-shadow: 0 6px 12px #aaa;;
}

#FunFacts {
  grid-area: FunFacts;
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 1em;
  padding: 1em;
  text-align: center;
  box-shadow: 0 6px 12px #aaa;
}

/* Responsive (About Page): Extend width of Class Info and Contributions under 640px */
@media screen and (max-width: 640px) {
  #about {
    grid-template-areas:
    "TimeTable TimeTable"
    "CandQ CandQ"
    "GPhoto GPhoto"
    "FunFacts FunFacts";
  }
}  
